@model Survey
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Name: </p><p>@Model.Name</p>
<p>Location: </p><p>@Model.Location</p>
<p>Language: </p><p>@Model.Language</p>
<p>Comment: </p><p>@Model.Comment</p>
